<div class="modal-header" data-bs-theme="ligth">
      <h1 class="modal-title fs-5">Ajouter  Privileges</h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reactiveForm_add_privileges" 
            (ngSubmit)="onSubmit_add_privileges()" 
            #form_add_privileges="ngForm" 
            class="row">
        
              <!-- Champ Libelle -->
              <div class="form-group col-sm-12 mb-2">
                <label  for="libelle">Libelle <span class="text-danger">*</span></label>
                <input id="libelle" class="form-control" 
                       type="text" 
                       formControlName="libelle" 
                       placeholder="Libelle"  
                       [ngClass]="{ 'is-invalid': submitted() && f.libelle.errors }"/>
                @if (submitted() && f.libelle.errors) {
                  <div class="invalid-feedback">
                    @if (f.libelle.errors.required) {
                      <div>Ce champ est obligatoire</div>
                    }
                  </div>
                }
              </div>

              <!-- Champ Description -->
              <div class="form-group col-sm-12 mb-2">
                <label  for="description">Description <span class="text-danger">*</span></label>
                <input id="description" class="form-control" 
                       type="text" 
                       formControlName="description" 
                       placeholder="Description"  
                       [ngClass]="{ 'is-invalid': submitted() && f.description.errors }"/>
                @if (submitted() && f.description.errors) {
                  <div class="invalid-feedback">
                    @if (f.description.errors.required) {
                      <div>Ce champ est obligatoire</div>
                    }
                  </div>
                }
              </div>
      </form>
    </div>
        <!-- Footer -->
    <div class="modal-footer border-0 pt-0">
  <button type="button" class="btn btn-outline-secondary px-4" (click)="activeModal.close()">
    Annuler
  </button>
  <button type="button" class="btn btn-primary px-4" [disabled]="
      loading_add_privileges() ||
      loading_get_details_add_privileges_form()
    " (click)="form_add_privileges.ngSubmit.emit()">
    @if(loading_add_privileges()){
      <span>
      <i class="bi bi-hourglass-split me-1"></i> Enregistrement...
      </span>
    }
    @if(!loading_add_privileges()){
    <span>
      <i class="bi bi-check-circle me-1"></i> Enregistrer
    </span>
  }
  </button>
</div>